@page "/comingsoonCAC"

<h3>Construct-a-Croc</h3>
<h4>Coming Soon!</h4>
<p>In the future we plan on having a Construct a Croc Page. </p>
<p>The Construct-A-Croc feature is going to be an item where you can order a custom croc with different features. </p> 
<p>These features include custom colors, hobbys, hats, and what items it will hold. Come back at a later time when we have implemented the Construc-A-Croc Feature.</p>

@code {

}
