@inject TeamZ.Web.APIService apiService
@inject NavigationManager NavManager
@inject SessionService session
@implements IDisposable
@using TeamZ.Web.FormModels
@page "/createuser"

<h1>Register User</h1>

<EditForm Model="@userModel" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <label>
        Username:
    </label>
    <p>
        <InputText id="username" @bind-Value="userModel.Username" />
    </p>
    <label>
        Password:
    </label>
    <p>
        <InputText type="password" id="password" @bind-Value="userModel.Password" />
    </p>
    @if (session.IsAdmin)
    {
        <p>
            <label>
                Has Administrator privileges?
                <InputCheckbox @bind-Value="userModel.IsAdmin" />
            </label>
        </p>
        
    }

    <button type="submit">Create User</button>
</EditForm>
@if (!createSucceeded)
{
    <p style="color: red">A problem happened when creating the user</p>
}

@code {
    private UserModel userModel = new UserModel();
    private bool createSucceeded = true;

    protected override void OnInitialized()
    {
        session.OnChange += StateHasChanged;
    }

    private async void Submit()
    {
        try
        {
            await apiService.PostCreateUserAsync(session.LoggedInUser, session.SessionKey, userModel.Username, userModel.Password, userModel.IsAdmin);
        }
        catch (Exception e)
        {
            createSucceeded = false;
            Console.WriteLine("Error:", e);
        }

        if (createSucceeded)
        {
            NavManager.NavigateTo("/");
        }
    }

    public void Dispose()
    {
        session.OnChange -= StateHasChanged;
    }
}

