@inject TeamZ.Web.APIService apiService
@inject NavigationManager NavManager
@inject SessionService session
@implements IDisposable
@using TeamZ.Web.FormModels
@page "/createstoreitem"

<h1>Add Item To Store</h1>

<EditForm Model="@itemModel" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <label>
        Item Name:
    </label>
    <p>
        <InputText id="name" @bind-Value="itemModel.ItemName" />
    </p>
    <label>
        Price:
    </label>
    <p>
        <InputNumber TValue="decimal" id="price" @bind-Value="itemModel.Price" />
    </p>
    <label>
        Description:
    </label>
    <p>
        <InputText id="description" @bind-Value="itemModel.Description" />
    </p>
    <button type="submit">Create Item</button>
</EditForm>
@if (createFailed)
{
    <p style="color: red">A problem happened when creating the item</p>
}

@code {
    private ItemModel itemModel = new ItemModel();
    private bool createFailed = false;

    protected override void OnInitialized()
    {
        session.OnChange += StateHasChanged;
    }

    private async void Submit()
    {
        try
        {
            await apiService.PostAddItemAsync(session.LoggedInUser, session.SessionKey,
                itemModel.ItemName, itemModel.Price, itemModel.Description, session.IsAdmin);
        }
        catch (Exception e)
        {
            createFailed = true;
            Console.WriteLine("Error:", e);
        }

        if (!createFailed)
        {
            NavManager.NavigateTo("/");
        }
    }

    public void Dispose()
    {
        session.OnChange -= StateHasChanged;
    }
}
