@page "/detail/{id}"
@using TeamZ.Shared
@inject APIService apiService
 
<h2>@storeItem.ItemName</h2>
<h4>$@storeItem.Price USD</h4>

<p>@storeItem.Description</p>

@code {
    [Parameter]
    public string id { get; set; }

    private StoreItem storeItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        storeItem = new StoreItem("", (decimal)0.00);
        var intID = int.Parse(id);
        try
        {
            var item = await apiService.GetStoreItemById(intID);
            storeItem = item.Value;
        } catch (Exception e)
        {
            storeItem = new StoreItem("PlaceHolder", (decimal)0.00);
        }
        Console.WriteLine(storeItem);
    }


}
