@page "/detail/{id:int}"
@using TeamZ.Shared
@inject APIService apiService
@inject SessionService session
@inject NavigationManager NavManager

<div class="card">
    <h2 class="card-header">@storeItem.ItemName</h2>
    <h4 class="card-header-pills">$@storeItem.Price.ToString("c2") USD</h4>

    <div class="card-body">
        <p>@storeItem.Description</p>

        @if (session.LoggedInUser is not null)
        {
            <input type="number" @bind="CartAmount" />
            <button @onclick="addToCart">Add To Cart</button>
        }
    </div>
</div>


@code {
    [Parameter]
    public int id { get; set; }

    private StoreItem storeItem { get; set; }

    public int CartAmount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        session.OnChange += StateHasChanged;
        storeItem = new StoreItem("", (decimal)0.00);

        CartAmount = 1;

        var item = await apiService.GetStoreItemById(id);
        storeItem = item.Success ? item.Value : null;

        if (storeItem is null)
        {
            NavManager.NavigateTo("/notfound");
        }
    }

    private async void addToCart()
    {
        await apiService.AddItemToCart(storeItem, session.SessionKey, CartAmount);
        NavManager.NavigateTo("/");
    }
}
