@page "/detail/{id}"
@using TeamZ.Shared
@inject APIService apiService
 
<h3>ItemDetail</h3>

<p>@storeItem.ItemName</p>

@code {
    [Parameter]
    public string id { get; set; }

    private StoreItem storeItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        storeItem = new StoreItem("PlaceHolder", (decimal)0.00);
        var intID = int.Parse(id);
        storeItem = await apiService.GetStoreItemById(intID);
        Console.WriteLine(storeItem);
    }


}
