@page "/detail/{id:int}"
@using TeamZ.Shared
@inject APIService apiService
@inject NavigationManager NavManager

<h2>@storeItem.ItemName</h2>
<h4>$@storeItem.Price USD</h4>

<p>@storeItem.Description</p>

@code {
    [Parameter]
    public int id { get; set; }

    private StoreItem storeItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        storeItem = new StoreItem("", (decimal)0.00);

        var item = await apiService.GetStoreItemById(id);
        storeItem = item.Success ? item.Value : null;

        if (storeItem is null)
        {
            NavManager.NavigateTo("/notfound");
        }
    }
}
