@inject TeamZ.Web.APIService apiService
@*@inject TeamZ.Web.SessionService sessionService*@
@inject NavigationManager NavManager
@using TeamZ.Web.FormModels
@page "/login"

<h1>Login</h1>

<EditForm Model="@loginModel" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <label>
        Username:
    </label>
    <p>
        <InputText id="username" @bind-Value="loginModel.Username" />
    </p>
    <label>
        Password:
    </label>
    <p>
        <InputText type="password" id="password" @bind-Value="loginModel.Password" />
    </p>
    <button type="submit">Login</button>
</EditForm>
@if (loginFailed)
{
    <p style="color: red">Unable to Authenticate</p>
}

@code {
    private LoginModel loginModel = new LoginModel();
    private bool loginFailed = false;

    private async void Submit()
    {
        try
        {
            loginFailed = await apiService.PostLoginAsync(loginModel.Username, loginModel.Password);
        }
        catch (Exception e)
        {
            loginFailed = true;
            Console.WriteLine("Error:", e);
        }

        if (!loginFailed)
        {
            NavManager.NavigateTo("/");
        }
    }
}
