@using TeamZ.Shared
@inject APIService APIService

<h3>Store Items</h3>

@foreach(var i in storeItems)
{
    <div class="card">
        <p class="card-header">
            <a href="/detail/@i.Id">@i.ItemName</a>
        </p>
        <div class="card-body">
            <p>@i.Description</p>
        </div>
    </div>
}

@code {    
    public List<StoreItem> storeItems { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        storeItems = new List<StoreItem>();
        var items = await APIService.GetStoreItemsAsync();
        storeItems = items.Value;
    }
}
