@inherits LayoutComponentBase
@inject TeamZ.Web.APIService apiService
@inject SessionService session
@inject NavigationManager NavManager
@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (session.LoggedInUser is not null)
            {
                <p>Logged in as @session.LoggedInUser</p>
                <button class="btn-link" @onclick="Logout">Log Out</button>
            }
            else
            {
                <p>Not logged in</p>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        session.OnChange += StateHasChanged;
    }

    private async void Logout()
    {
        try
        {
            await apiService.DeleteCartItems(session.SessionKey);
            await apiService.PostLogOut(session.LoggedInUser, session.SessionKey);
            session.LogOutUser();
            NavManager.NavigateTo("/", forceLoad:true);
        }
        catch (Exception e)
        {
            Console.WriteLine("Error:", e);
        }
    }

    public void Dispose()
    {
        session.OnChange -= StateHasChanged;
    }
}
